<div id="<%= dom_id property1 %>">
  <p>
    <strong>Name:</strong>
    <%= property1.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property1.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property1.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= property1.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property1.bathrooms %>
  </p>

</div>
