<!DOCTYPE html>
<html>
  <head>
    <title>Property</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/nav/public" %>
    <%= render "layouts/style/css" %>
    <% if current_account %>
    <%= render "shared/alerts" %>
    <% end %>
  </head>
  
  <body>

    <%= yield %>
    <%= render "layouts/style/js" %>
  </body>
</html>
